
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .sue-ellen-francisco-regular {
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .cutive-mono-regular {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    background-color: hsl(180, 2%, 9%);
    padding-top: 1rem;
}


.item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Klee monospace", system-ui;
}

.card-item{
  display: flex;
  flex-direction: column;
  height: 300px;
  
  
}

.item{
  width: 20%;
  height: auto;
  margin: 0 2%;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 1%;

  border: 2px solid rgb(134, 177, 27);
  border-radius: 5px;
  background-color: rgba(9, 8, 8, 0.353);
}
.item img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10rem;


  
}

.button-detail {
  border: 2px solid rgb(134, 177, 27);
  border-radius: 5px;

  background-color: rgba(0, 0, 0, 0.03);
  color: rgb(198, 138, 34);
  
  font-family: "Cutive Mono", monospace;
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
 

}

