.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  


.navbar{
    width: 100%;
    
    color: rgb(17, 28, 38);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav__list {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  
    
}


.brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.nav__li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    padding:1rem ;
    font-family:  "Amatic SC", cursive;
    font-weight: bolder;


    color: rgb(17, 28, 38);
    

}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 7feda3297564ff1e6f68c09a5d5d7bde6fe5fe31
