.klee-one-regular {
    font-family: "Klee One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .klee-one-semibold {
    font-family: "Klee One", system-ui;
    font-weight: 600;
    font-style: normal;
  }


nav.navbar{
    font-family: "Klee One", system-ui;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
    color: rgba(255, 255, 255, 0.994);
    background-color: #73863c ;
}

.nav__list {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Klee One", system-ui;  
    padding: 0 100px 0 100px; 
      
}


.brand{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;  
}

.nav__li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem ;
    color: rgb(9, 8, 8);   

}

.cartwidget {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(9, 8, 8) ;
    padding: 5vh;
}

.count-shown {
    color: rgb(38, 25, 43);
    text-decoration: none;
}
.count p {
    font-family: "Klee One", system-ui;
    text-decoration: none;
    color: rgb(104, 142, 88);
}